body {
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
}
h1 {
    margin: 10px 0;
    font-family: TrumpGothicEastRegular;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: normal;
    color: #272727;
}
h2 {
    margin: 10px 0;
    font-family: TrumpGothicEastRegular;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    color: #272727;
}
h3 {
    margin: 10px 0;
    font-family: Georgia;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    color: #272727;
}
p {
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5em;
    color: #595757;
}
p.item {
    font-family: Georgia;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    color: #595757;
}
p.spec {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background-color:#595757;
    opacity: 0.8; 
    filter: alpha(opacity=80);
}
table.dataTable, table.dataTable td {
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5em;
    color: #272727;
}
table.dataTable th {
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5em;
    color: #FFFFFF;
    text-align: left;
    background-color: #b12844;
    border-color:#b12844;
    opacity: 0.8; 
    filter: alpha(opacity=80);
}
table.dataTable tbody tr {
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */

}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
}
table.dataTable td {
    text-align: left;
}
table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
    border: 0px solid #C0C0C0;
}

.my-img-rect {
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 0 20px 5px 0;
    padding: 4px;
}
.my-img-circle {
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    border: solid #fff 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.bg-nav {
	background-color: #337ab7;
}

.bg-principal {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    /*
    background-image: url("../images/background/9.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode:saturation;
    */
}
p.cardMain {
    color: #D6D6D6;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
    max-width: 300px;
    text-align: center;
	color: #000!important;
    background-color: #fff!important;
    margin: 5px;
}
.cardButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #337ab7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.cardA {
    text-decoration: none;
    font-size: 22px;
    color: white;
}
.cardButton:hover, .cardA:hover {
    opacity: 0.7;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}


.myCarouselGeneral {
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-color:#000;
    background-color: rgba(0, 0, 0, 0.3);
}
.myCarouselItem {
    width: 100%;
    height: 400px;
}
#myCarousel .carousel-caption {
    top:0;
    left:0;
	right:0;
	
    width:100%;
    height: 100%;
	text-align: justify;
	padding: 10px;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    color:#000;
}
#myCarousel .listEducation {
    position:absolute;
	top:0;
	right:0;
}
#myCarousel button.btn.btn-primary {
    border:none;
    opacity: 0.8; 
    filter: alpha(opacity=80);
}
#myCarousel button.btn.btn-primary.active {
    background-color: #b12844;
    border-color:#b12844;
    opacity: 0.8; 
    filter: alpha(opacity=80);
}

/*Responsive*/
@media (min-width: 919px) { 
	#myCarousel {padding-right:1.9%;}
	#myCarousel .carousel-controls {display:none;} 
}
@media (max-width: 920px) { 
	#listEducation {display:none;} 
    #myCarousel, #myCarousel .carousel-caption {width: 93%; margin: 20px}
}

.footer {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #161616;
	color: #fff;
}

